[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
werkzeug = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "*"